<section class="d-flex flex-column min-vh-100 bg-primary-subtle">
  <header class="bg-dark text-white p-3 text-center">
    <h4>Actividad 2 - Carga de Api Products Project</h4>
  </header>
  <div class="body">
    <section class="container mt-3">
      <nav class="navbar bg-primary-subtle d-flex justify-content-between">
        <div class="d-flex gap-3">
          <app-product-form></app-product-form>
          <app-product-filter></app-product-filter>
        </div>
      </nav>      
    </section>
    <section class="container my-4">
      <app-products-list></app-products-list>
    </section>
  </div>
  <footer class="bg-dark text-white p-2 text-center">
    <p><small>©2025 DWEC Patricia Gutiérrez Rivas</small></p>
  </footer>
</section>